<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Posts</title>

</head>

<body>
    <div class="mid2">
    <div class="mid-container">

      <div class="logo">
        <span>
          <img id="logo" src="./img/logo.png">
        </span>

        <a href="/" class="botaum">Sair</a>   

        <div class="botao-lingua">
          <img id="globo" src="./img/globo.png">
          <select>
            <option>Português</option>
            <option>Inglês</option>
          </select>
        </div>
      </div>

    
     
<div class="postImagens">
    <h1>Posts Imagens</h1>   
    <a href="/posts" class="botaum" >» Postar Texto...</a> <br>

    <span style="color:rgb(0, 240, 60);">{{messages}}</span> <br>
    <div class="conteudos">
        <form  action="/postsImagens" method="post" enctype="multipart/form-data">
        
        <label for="content">Conteúdo</label>  <br>
        <input type="file" name="image" value="Upload Image"/>            
        <input type="submit"  value="Adicionar file &rarr;"/>

    </form>  

    <br>  
    <form action="/postsImagens" method="get" enctype="multipart/form-data">  
        <label for="busca">Busca</label>
        <input type="text" name = "busca" value=""/>
        <input type="submit"  value="busca....">

    </form>      
    </div>
    
       
    <ul>
        {{#postsImagens}}
         <li style="list-style:none; margin-bottom:5px; background:rgb(30 30 30 / 80%);"><a style="display:flex; justify-content: left;
  align-items: center; color:#FFF;" href="/upload/users/{{image}}" title="{{image}}" target="_blank"><img  src="/upload/users/{{image}}" style="max-width:150px; margin-right:15px;"> {{image}}</a></li>
        {{/postsImagens}}
    </ul>  

    </div>


    
</body>

</html>
